h1, h2 {
    color: #2F4495;
}

.head-link {
    text-decoration: none;
}

.p2p-active {
    background-color: black;
}

.p2p-background {
    color: #A761A9;
}

.p2p-pilot {
    color: #2154A7;

}

.p2p-dpla {
    color: #52C4C5;
}

.p2p-join {
    color: #E3E754;
}

.p2p-more-info {
    color: #FCB43B;
}
