<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jeremy Nelson, Leigh">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>CALCON 2017 - Plains2Peaks DP.LA Service Hub {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename="css/narrow-jumbotron.css") }}" rel="stylesheet">

    <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
    <style>
        .calcon-bkgrd {
            color: #374A95 !important;
            background-image: url('{{ url_for('static', filename='imgs/calcon-background.png') }}') ;
            background-size: 150px auto;
            background-repeat: no-repeat;
            font-weight: 700;
        }
    </style>

  </head>

  <body>
    {% block header %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link {% if request.path.endswith("/") %}active{% endif %}" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path.endswith("about") %}active{% endif %}" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path.endswith("join") %}active{% endif %}" href="{{ url_for('join') }}">Join</a>
            </li>
          </ul>
        </nav>
        <h3 class="calcon-bkgrd"><a style="color: #374A95" href="http://cal-webs.wixsite.com/calcon17">CALCON 2017</a></h3>
      </div>
    {% endblock %}
    {% block main %}
      <div class="jumbotron">
        <h1 class="display-3">Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
    {% endblock %}
    {% block footer %}
    <div class="container">
        <footer class="footer">
            <p>Original content by Jeremy Nelson &copy; 2017, licensed under Creative Commons </p>
        </footer>
    </div>
    {% endblock %}
    </div> <!-- /container -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34716333-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-34716333-1');
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
