{% extends 'calcon-2017/base.html' %}

{% block title %}Plains to Peaks Collective: Increasing access to your unique
    heritage through the Digital Public Library of America{% endblock %} 

{% block main %}
<article class="column">
    <img src="{{ url_for('static', filename='imgs/plains2peaks-tmp-logo.png') }}" class="float-left" alt="Temporary Plains2Peaks.org Logo">
     <p>State Library of Colorado sponsors a regional DP.LA service hub for the libraries, museums, and other
        cultural heritages institutions in Colorado and Wyoming.</p>

</article>
{% endblock %}
