{% extends 'calcon-2017/base.html' %}

{% block title %}Plains to Peaks Collective: Increasing access to your unique
    heritage through the Digital Public Library of America{% endblock %} 

{% block header %}{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <h3>October 12<sup>th</sup>, 2017</h3>
        <img src="{{ url_for('static', filename='imgs/plains2peaks-logo.png') }}" 
             alt="Plains2Peaks.org Logo">

        <h2>Increasing access to your unique digital<br>
            heritage through <a href="https://dp.la">DPLA</a></h2>
        {#<object data="{{ url_for('static', filename='pdf/PPC.CALCON.2017.pdf') }}" type="application/pdf" 
                width="100%" height="400px">
            
        </object>#}
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQs_xG47r86Ia6teFnPrHqCwnwdjVCaIMDP754DPxLGI7M-vrX9jiyukNJ-VQWLLNc9YWu66LJOMmHX/embed?start=false&loop=false&delayms=5000" 
            frameborder="0" 
            width="100%" 
            height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</div>
{% endblock %}
