{% extends 'calcon-2017/base.html' %}

{% block title %}Pilot{% endblock title %}

{% block main %}
<article class="column">
    <h1 class="p2p-pilot">Plains2Peaks Pilot</h1>
    <h2>8<sup>*</sup> Institutions &amp; 50k Digital Objects</h2>
    <p>
        The Plains2Peaks DP.LA service hub started with a pilot for 50,000
        digital objects sourced from the following institutions:
    </p>
    <ol>
        <li><strong>American Heritage Center at the University of Wyoming</strong>
            <img src="{{ url_for('static', filename='imgs/AHCLogo.png') }}" 
                 alt="Logo for American Heritage Center"
                 class="float-right">
            <p>


            </p>
            <ul>
                <li>BIBFRAME Instances: <em>8,011</em></li>
                <li>BIBFRAME Items: <em>8,011</em></li>
            </ul>
        </li>
        <li><strong>Colorado College</strong>
            <p>


            </p>
            <img src="{{ url_for('static', filename='imgs/cc-logo.png') }}" 
                 alt="Logo for Colorado College"
                 class="float-left">
            <ul>
                <li>BIBFRAME Instances: <em>9,370</em></li>
                <li>BIBFRAME Items: <em>9,370</em></li>
            </ul>

        </li>
        <li><strong>Colorado State Publications Library</strong>
            <p>


            </p>
            <img src="{{ url_for('static', filename='imgs/cospl-logo.png') }}" 
                 alt="Logo for Colorado State Publications"
                 class="float-right">
 
            <ul>
                <li>BIBFRAME Instances: <em>7,190</em></li>
                <li>BIBFRAME Items: <em></em></li>
            </ul>

        </li>
        <li><strong>Denver Public Library</strong>
            <p>

            </p>
            <img src="{{ url_for('static', filename='imgs/denver-public-logo.png') }}" 
                 alt="Logo for Denver Public Library"
                 style="background-color: black"
                 class="float-left">
 
            <ul>
                <li>BIBFRAME Instances: <em>7,294</em></li>
                <li>BIBFRAME Items: <em>7,294</em></li>
            </ul>
        </li>
        <li><strong>History Colorado</strong>
            <p>
            </p>
            <img src="{{ url_for('static', filename='imgs/colorado-history-logo.png') }}" 
                 alt="Logo for History Colorado"
                 style="background-color: black"
                 class="float-right">


            <ul>
                <li>BIBFRAME Instances: <em>7,292</em></li>
                <li>BIBFRAME Items: <em>7,292</em></li>
            </ul>

        </li>
        <li><strong>Marmot Library Consortium</strong>
            <p></p>
            <img src="{{ url_for('static', filename='imgs/marmot-logo.png') }}" 
                 alt="Logo for Marmot Library Consortium"
                 class="float-left">

            <ul>
                <li>BIBFRAME Instances: <em>8,403</em></li>
                <li>BIBFRAME Items: <em>8,403</em></li>
            </ul>

        </li>
        <li><strong>University of Wyoming</strong>
            <p></p>
            <img src="{{ url_for('static', filename='imgs/university-of-wyoming.png') }}" 
                 alt="Logo for University of Wyoming"
                 class="float-right">
            <ul>
                <li>BIBFRAME Instances: <em>970</em></li>
                <li>BIBFRAME Items: <em>970</em></li>
            </ul>

        </li>
        <li><strong>Wyoming State Library</strong>
            <p></p>
            <img src="{{ url_for('static', filename='imgs/wyoming-state-library.png') }}" 
                 alt="Logo for Wyoming State Library"
                 class="float-left">
 
            <ul>
                <li>BIBFRAME Instances: <em>2,452</em></li>
                <li>BIBFRAME Items: <em>2,452</em></li>
            </ul>
        </li>
    </ol>
</article>
{% endblock main %}

