{% extends 'calcon-2017/base.html' %}

{% block title %}Pilot{% endblock title %}

{% block main %}
<article class="column">
    <h1 class="p2p-pilot">Plains2Peaks Pilot</h1>
    <h2>8<sup>*</sup> Institutions &amp; 50k Digital Objects</h2>
    <p>
        The Plains2Peaks DP.LA service hub started with a pilot for 50,000
        digital objects sourced from the following institutions:
    </p>

    <h3>American Heritage Center at the University of Wyoming</h3>
    <div class="row">
        <section class="column column-40">
            <ul>
                <li>BIBFRAME Instances: <em>8,011</em></li>
                <li>BIBFRAME Items: <em>8,011</em></li>
            </ul>
        </section>
        <section class="column">
            <img src="{{ url_for('static', filename='imgs/AHCLogo.png') }}" 
                 alt="Logo for American Heritage Center">
        </section>
    </div> 
    <h3>Colorado College</h3>
    <div class="row">
        <section class="column column-40">
            <img src="{{ url_for('static', filename='imgs/cc-logo.png') }}" 
                 alt="Logo for Colorado College">
        </section>
        <section class="column">
            <ul>
                <li>BIBFRAME Instances: <em>9,370</em></li>
                <li>BIBFRAME Items: <em>9,370</em></li>
            </ul>
        </section>
    </div>
    <h3>Colorado State Publications Library</h3>
    <div class="row">
        <section class="column column-40">
            <ul>
                <li>BIBFRAME Instances: <em>7,190</em></li>
                <li>BIBFRAME Items: <em></em></li>
            </ul>
        </section>
        <section class="column">
            <img src="{{ url_for('static', filename='imgs/cospl-logo.png') }}" 
                 alt="Logo for Colorado State Publications">
        </section>
    </div>
    <h3>Denver Public Library</h3>
    <div class="row">
        <section class="column column-40">
            <img src="{{ url_for('static', filename='imgs/denver-public-logo.png') }}" 
                 alt="Logo for Denver Public Library"
                 style="background-color: black; width: 100%">

        </section>
        <section class="column">     
            <ul>
                <li>BIBFRAME Instances: <em>7,294</em></li>
                <li>BIBFRAME Items: <em>7,294</em></li>
            </ul>
        </section>
    </div>
    <h3>History Colorado</h3>
    <div class="row">
        <section class="column column-40">
            <ul>
                <li>BIBFRAME Instances: <em>7,292</em></li>
                <li>BIBFRAME Items: <em>7,292</em></li>
            </ul>
        </section>
        <section class="column">
            <img src="{{ url_for('static', filename='imgs/colorado-history-logo.png') }}" 
                 alt="Logo for History Colorado"
                 style="background-color: black">
        </section>
    </div>
    <h3>Marmot Library Consortium</h3>
    <div class="row">
        <section class="column column-40">
            <img src="{{ url_for('static', filename='imgs/marmot-logo.png') }}" 
                 alt="Logo for Marmot Library Consortium">
        </section>
        <section class="column">
            <ul>
                <li>BIBFRAME Instances: <em>8,403</em></li>
                <li>BIBFRAME Items: <em>8,403</em></li>
            </ul>
        </section>
    </div>
    <h3>University of Wyoming</h3>
    <div class="row">
         <section class="column column-40">
            <ul>
                <li>BIBFRAME Instances: <em>970</em></li>
                <li>BIBFRAME Items: <em>970</em></li>
            </ul>
        </section>
        <section class="column">
            <img src="{{ url_for('static', filename='imgs/university-of-wyoming.png') }}" 
                 alt="Logo for University of Wyoming">
            
        </section>
    </div>
    <h3>Wyoming State Library</h3>
    <div class="row">
        <section class="column column-40">
            <img src="{{ url_for('static', filename='imgs/wyoming-state-library.png') }}" 
                 alt="Logo for Wyoming State Library">
        </section>
        <section class="column"> 
            <ul>
                <li>BIBFRAME Instances: <em>2,452</em></li>
                <li>BIBFRAME Items: <em>2,452</em></li>
            </ul>
    </div>
</article>
{% endblock main %}

